@model User

<div class="card" style="width: 18rem;">
    <img src="/images/698.jpg" class="card-img-top" alt="User Image">
    <div class="card-body">
        <h5 class="card-title">Name: @Model.Name</h5>
        <p class="card-text">Email: @Model.Email</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: @Model.Age</li>
        <li class="list-group-item">Password: @Model.Password</li>
        <li class="list-group-item">Number of Posts: @(Model.Posts?.Count ?? 0)</li>
   
    </ul>
    <div class="card-body">
        <a href="/User/Index" class="card-link">Back To All</a>
        <a href="#" class="card-link">Go To Posts</a>
    </div>
</div>
